.jumbotron{
  background-image: url("/Users/davidlutta/Documents/moringa-school-projects/Anita's-Kitchen-project/images/backgrounds/landing.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 400px;
  color: white;
  text-align: center;
  font-size: 18px;
  font-family: 'Lato', sans-serif;
}
.jumbotron img{
  padding-right: 25%;
  padding-left: 25%;
}
.lunch img{
  background-size: cover;
}
.menu{
  background-image: url("../images/backgrounds/foodsBg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
}
#well{
  background-image: url("../images/backgrounds/subscribe.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 200px;

}
.image-responsive{
  margin: 0%;
  width: 100%;
  height: 100%;
}
#footer{
  background-color: #F15A29;
  width: 100%;
  height: 400px;
}
.content h2{
  color: #F15A29;
}
.content p{
  font-size: 15px;
  align-items: center;
}
.abt{
  font-size: 15px;
}
.menutxt{
  text-align: center;
  color: #F15A29;
}
.sub{
  text-align: center;
  color: white;
}
.row-happyhour p{
  background-color: grey;
}
.flex{
  margin: 0%;
  padding: 0%;
  /* flex-direction: row; */
  align-items: stretch;
  height: 200px;
}
.images{
  margin: 0%;
  padding: 0%;
  border: 0%;
  align-items: stretch;
}
.container{
  padding: 0%;
  margin: 0%;
}
.toptext{
    left: 0;
    position:absolute;
    text-align:center;
    top: 40%;
    width: 100%;
    color: white;
    font-family: 'Artifika', serif;
    font-size: 30px;
}
.happy{
  background-color: #e9eaec;
  height: 56px;
  margin: 0%;
  padding: 0%;

}
.Party{
  background-color: #F15A29;
  height: 120px;
}
.Party h2{
  padding: 30px;
  color: #e9eaec;
}
span {
  content: "\003E";
  color: #F15A29;
}
.customer{
  display: inline-block;
  margin: 0%;
  padding-left: 9%;
}
.body{
  margin: 0%;
  padding: 0%;
}
.container-fluid{
  padding: 0%;
  margin: 0%;
}
#image{
  padding: 0% 0% 0% 15%;
  box-shadow: 5px 5px 5px grey;
}
.social img{
  position: relative;
  display: inline;
  margin: 0% 0% 0% 0%;
  padding-left: 25%;
}
.ftimg{
  padding: 0%;
}
.ftimgg{
  padding: 0%;
}
.fttxt{
  color: #e9eaec;
  font-family: 'Roboto', sans-serif;
  text-align: center;
}
.footertxt{
  color: #e9eaec;
  font-family: 'Bree Serif', serif;
  text-align: center;
  font-size: 45px;
}
.ftimgg{
  padding-left: 25%;
}
.overlay{
  width: 0%;
  height: 100%;
  top: 0%;
  left: 0%;
  background-color: #F15A29;
  position: fixed;
  transition: 0.5s;
  overflow-x: hidden;
}
.overlay-content{
  top: 30%;
  width: 100%;
  text-align: center;
  left: 0%;
  position: relative;
}
.overlay a{
  width: 100%;
  font-size: 40px;
  transition: 0.3s;
  color: #e9eaec;
  text-decoration: none;
  display: block;
  padding: 8px;
}
.closebtn{
  margin-left: 80%;
}
.overlay a:hover{
  color: white;
}
